body{
    background:linear-gradient(to right, rgb(0, 135, 47),rgb(0, 120, 150));
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
}
div{
    text-align: center;
    font-size: large;
    background-color: rgba(0, 76, 255, 0.145);
}
img:active{
    animation: fadein;
}
@keyframes fadein{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}