body{
    background:linear-gradient(to right, rgb(0, 135, 47),rgb(0, 120, 150));
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
}
.div1{
    text-align: center;
    font-size: large;
    background-color: rgba(0, 76, 255, 0.145);
    animation: fading 2s ease forwards;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 50px;

}
.div2{
    background-image: url(liceul.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    animation: fading 2s ease forwards;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 50px;
    font-size:x-large
}
.div3{
    background-image: url(bascketball.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    animation: fading 2s ease forwards;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 50px;
    font-size:x-large;
    color: aliceblue;
}
.div4{
    background-image: url(house.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    animation: fading 2s ease forwards;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 50px;
    font-size:x-large;
    color: rgb(54, 0, 28);
    text-wrap:balance;
}
.no{
    background-image: url(cokking.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    animation: fading 2s ease forwards;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 50px;
    font-size: large;
}
.img{
    width: 40%;
    height:60%;
}
.img2{
    width: 400px;
    height:300px;
}
/* img:active{
    animation: fading;
} */
@keyframes fading{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}