body{
    animation: my-animation 2s alternate
    infinite;
}
img{
 width: 400px;
 height: 300px;
}
img:active{
    width: 600px;
    height: 400px;
    filter: grayscale (100%) invert(100%);
}
h4{
    text-align: center;
}
.center{
 text-align: center;
}
@keyframes my-animation{
    from{background-color: aliceblue;}
    to{background-color: rgb(4, 0, 255);}
}
a:hover{
    background-color: rgb(18, 159, 230);
    color: brown;
}