
div.links {
    background-color: yellow; padding: 20px;
    text-align: center;
    text-transform: uppercase;
}
    div.content {
    background-color: #48b9db;
    padding: 20px;
    }
    .content> h1 {
    text-align: center;
    background-color: rgb(13, 206, 231); padding: 10px;
    }